*
{font-family: "Corbel";
}

body
{background-color: grey;
margin-left: 30px;
margin-right: 640px;
}


.bandeau {
	width : 300px;
	height : 40px;
	border: 1px solid black;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 30px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 5px;
}

footer {
	margin-top: 50px;
}